*.swp
*.swo
*.o
*.la
*.a
*.lo
*.log
*.class
*.java
*.tokens
.deps
.libs
.dirstamp
*.tar.gz
classcheck.stamp
Makefile.in
aclocal.m4
depcomp
install-sh
missing
Makefile
autom4te.cache
cppunittests
variable_printer
metadata_generator
ast_printer
instruo
long.sh
massif.out
libbash.g
java_libbash.g
libbash.tokens.md5
bashast/.DS_Store
bashast/*.ebuild
bashast/c_runtime
bashast/output
bashast/portage_parse
bashast/tmp/
bashast/tokens.png
bashastLexer.*
bashastParser.*
libbashLexer.*
libbashParser.*
libbashWalker.h
libbashWalker.cpp
*.pdf
*.aux
config.*
*.run
configure
tests/a.out
*.temp
bashast/output.g
.DS_Store
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtool
ltmain.sh
INSTALL
test_coverage/
